@import "../../../styles/coolhue";
.zzr-checkbox{
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  .zzr-checkbox__input{
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    .zzr-checkbox__inner{
      box-sizing: border-box;
      position: relative;
      width: 14px;
      height: 14px;
      border: 1px solid $border-color-base;
      border-radius: 3px;
      &:after{
        box-sizing: content-box;
        content: "";
        border: 1px solid $primary-white;
        border-left: 0;
        border-top: 0;
        height: 7px;
        left: 4px;
        position: absolute;
        top: 1px;
        transform: rotate(45deg) scaleY(0);
        width: 3px;
        transition: transform .15s ease-in .05s;
        transform-origin: center;
      }
      &.is-checked{
        background-color: $primary-color;
        border-color: $primary-color;
        color: $primary-color;
        &:after{
          transform: rotate(45deg) scale(1);
        }
      }
      &.is-disabled{
        background-color: $--checkbox-disabled-input-fill;
        border-color: $--checkbox-disabled-border-color;
        cursor: not-allowed;
        &.is-checked{
          &:after{
            border-color: lighten($primary-color,30%);
          }
        }
      }
      &:hover{
        border-color: $primary-color;
      }
    }
    .zzr-checkbox__original{
      opacity: 0;
      outline: none;
      position: absolute;
      margin: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }
    &.is-checked{
      & + .zzr-checkbox__label{
        color: $primary-color;
      }
    }
    &.is-disabled{
      & + .zzr-checkbox__label{
        color: $--disabled-color-base;
        cursor: not-allowed;
      }
    }
  }
  .zzr-checkbox__label{
    padding-left: 10px;
    line-height: 19px;
  }
  &:last-of-type{
    margin-right: 0;
  }
}
