@import "../../../styles/el/common/var";
@import "../../../styles/el/mixins/mixins";

@include b(input){
  position: relative;
  display: inline-block;
  font-size: $--font-size-base;
  min-width: 180px;
  width: 100%;
  @include scroll-bar;

  & .zzr-input__clear{
    color: $--input-icon-color;
    font-size: $--input-font-size;
    cursor: pointer;
    transition: $--color-transition-base;
    &:hover{
      color: $--input-clear-hover-color;
    }
  }

  @include e(inner){
    -webkit-appearance: none;
    background-color: $--input-background-color;
    border-radius: $--input-border-radius;
    border: $--input-border;
    box-sizing: border-box;
    color: $--input-font-color;
    display: inline-block;
    font-size: inherit;
    height: $--input-height;
    line-height: $--input-height;
    outline: none;
    padding: 0 15px;
    transition: $--border-transition-base;
    width: 100%;

    &:hover{
      border-color: $--input-hover-border;
    }
    &::placeholder{
      color: $--input-placeholder-color;
    }
    &:focus{
      outline: none;
      border-color: $--input-focus-border;
    }
  }

  @include e(suffix){
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;
    //pointer-events: none;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }
  @include e(suffix-inner){
    //pointer-events: all;
  }

  @include e(prefix){
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: $--input-icon-color;
    transition: all .3s;
  }
  @include m(prefix) {
    .zzr-input__inner {
      padding-left: 30px;
    }
  }

  @include e(icon){
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: $--input-height;

    &:after{
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include when(disabled){
    .zzr-input__inner{
      background-color: $--input-disabled-fill;
      border-color: $--input-disabled-border;
      color: $--input-disabled-color;
      cursor: not-allowed;
    }
    &::placeholder{
      color: $--input-disabled-placeholder-color;
    }
  }
}

@include b(textarea){
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: $--font-size-base;

  @include e(inner){
    display: block;
    resize: vertical;
    background-color: $--input-background-color;
    border: $--input-border;
    border-radius: $--input-border-radius;
    transition: $--border-transition-base;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: inherit;
    color: $--input-font-color;
    background-image: none;

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
  }
}
