@import "../../../styles/el/common/var";
@import "../../../styles/el/mixins/mixins";

@include b(alert) {
  width: 100%;
  padding: $--alert-padding;
  margin: 0;
  box-sizing: border-box;
  border-radius: $--alert-border-radius;
  position: relative;
  background-color: $--color-white;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .2s;


}

.zzr-alert-fade-enter,
.zzr-alert-fade-leave-active {
  opacity: 0;
}
